<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">
    <div>

    </div>

    <div id="id_search_category" style="display:none" class="rcp_m_cate">
        <table width="100%" cellspacing="0" cellpadding="0">
            <colgroup>
                <col width="100px">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <th style="padding: 10px;">
                    <span>종류별</span>
                    <span>상황별</span>
                    <span>재료별</span>
                    <span>방법별</span>
                </th>
                <td>
                    <div class="rcp_cate st3">
                        <div class="cate_list">
                            <a href="#" onclick="goSearchRecipe2('rctype', null) " class="active">전체</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '63')">밑반찬</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '56')">메인반찬</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '54')">국/탕</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '55')">찌개</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '60')">디저트</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '53')">면/만두</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '52')">밥/죽/떡</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '61')">퓨전</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '57')">김치/젓갈/장류</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '58')">양념/소스/잼</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '65')">양식</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '64')">샐러드</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '68')">스프</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '66')">빵</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '69')">과자</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '59')">차/음료/술</a>
                            <a href="#" onclick="goSearchRecipe2('rctype', '62')">기타</a>
                        </div>
                        <div class="cate_list">
                            <a href="#" onclick="goSearchRecipe2('rcsituation', null)" class="active">전체</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '12')">일상</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '18')">초스피드</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '13')">손님접대</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '19')">술안주</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '21')">다이어트</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '15')">도시락</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '43')">영양식</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '17')">간식</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '45')">야식</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '20')">푸드스타일링</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '46')">해장</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '44')">명절</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '14')">이유식</a>
                            <a href="#" onclick="goSearchRecipe2('rcsituation', '22')">기타</a>
                        </div>
                        <div class="cate_list">
                            <a href="#" onclick="goSearchRecipe2('rcingredient',null)" class="active">전체</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','70')">소고기</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','71')">돼지고기</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','72')">닭고기</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','23')">육류</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','28')">채소류</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','24')">해물류</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','50')">달걀/유제품</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','33')">가공식품류</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','47')">쌀</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','32')">밀가루</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','25')">건어물류</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','31')">버섯류</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','48')">과일류</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','27')">콩/견과류</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','26')">곡류</a>
                            <a href="#" onclick="goSearchRecipe2('rcingredient','34')">기타</a>
                        </div>
                        <div class="cate_list">
                            <a href="#" onclick="goSearchRecipe2('rcmeans',null)" class="active">전체</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','6')">볶음</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','1')">끓이기</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','7')">부침</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','36')">조림</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','41')">무침</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','42')">비빔</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','8')">찜</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','10')">절임</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','9')">튀김</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','38')">삶기</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','67')">굽기</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','39')">데치기</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','37')">회</a>
                            <a href="#" onclick="goSearchRecipe2('rcmeans','11')">기타</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <span>테마별</span>
                </th>
                <td>
                    <div id="id_search_category2" style="padding:6px 15px 0px 12px" class="rcp_cate st3">
                        <div class="cate_list">
                            <a href="/theme/list.html?t1=101012">여성/뷰티</a>
                            <a href="/theme/list.html?t1=101013">엄마/아기</a>
                            <a href="/theme/list.html?t1=101014">건강/질병</a>
                            <a href="/theme/list.html?t1=101010">제철요리</a>
                            <a href="/theme/list.html?t1=101016">추천</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="rcp_cate_btn"><a href="javascript:ToggleCategory()"><span
            id="id_search_category_text">카테고리 열기</span><span><img id="id_search_category_img"
                                                                  src="https://recipe1.ezmember.co.kr/img/icon_arrow9_down.gif"></span></a>
    </div>



    <form id="srRecipeFrm" name="srRecipeFrm" method="post" action="/recipe/filtersearch">
        <input type="hidden" name="q" value="">
        <input type="hidden" id="q_query" name="query" value="">
        <input type="hidden" name="rctype" value="">
        <input type="hidden" name="rcsituation" value="">
        <input type="hidden" name="rcingredient" value="">
        <input type="hidden" name="rcmeans" value="">
        <input type="hidden" name="fct" value="">
        <input type="hidden" name="order" value="reco">
        <input type="hidden" name="lastcate">
        <input type="hidden" name="dsearch">
        <input type="hidden" id="dsf_copyshot" name="copyshot">
        <input type="hidden" id="dsf_scrap" name="scrap">
        <input type="hidden" id="dsf_degree" name="degree">
        <input type="hidden" id="dsf_portion" name="portion">
        <input type="hidden" id="dsf_time" name="time">
        <input type="hidden" name="niresource">
    </form>
    <ul class="rcp_m_list2">
        <div class="m_list_tit">
            총 <b>[[${#lists.size(recipe)}]]</b>개의 맛있는 레시피가 있습니다.
<!--            <ul class="nav nav-tabs2 pull-right" style="position:relative;">-->
<!--                <li role="presentation"><a href="javascript:void(0);"-->
<!--                                           onClick="goSearchRecipe('order','accuracy')">정확순</a></li>-->
<!--                <li role="presentation" class="active"><a href="javascript:void(0);"-->
<!--                                                          onClick="goSearchRecipe('order','date')">최신순</a></li>-->
<!--                <li role="presentation"><a href="javascript:void(0);" onClick="goSearchRecipe('order','reco')">추천순</a>-->
<!--                </li>-->
<!--            </ul>-->
        </div>

        <div id="result"></div>

        <div id="recipeInfo"></div>


<!--        <th:block th:each="item : ${{11,10}}">-->
<!--                        <span th:text="${item}"></span>-->
<!--        </th:block>-->
<!--        <span th:text="${myrecipecont}"></span>-->

<!--        <div th:each="recipeId : ${myrecipecont}">-->
<!--            <span th:text="${recipeId}"></span>-->
<!--        </div>-->


        <!-- 임의의 배열 filt에 1과 10 값을 넣어줍니다 -->
<!--        <th:block th:assign="filt" th:value="${{1, 10}}"></th:block>-->
<!--        <th th:with="filt=${{1, 10}}"></th>-->
<!--        <th:block th:assign="filt2" th:value="${{1, 10, 19}}"></th:block>-->
<!--        <th:block th:each="recipe : ${recipe}" >-->
<!--            <span>1</span>-->
<!--        </th:block>-->
        <!-- recipe.id가 filt 배열 안에 있는 값과 같을 때에만 코드 내용이 보이도록 수정합니다 -->
<!--        <th:block th:each="recipe : ${recipe}">-->
<!--&lt;!&ndash;            <th:block id="abc" th:if="${#lists.contains(filt, recipe.id)}">&ndash;&gt;-->
<!--&lt;!&ndash;            <th:block  th:if="${myrecipecont.contains(recipe.id)}">&ndash;&gt;-->
<!--                <ul class="common_sp_list_ul ea4" style="padding:0 0 0 8px;">-->
<!--                    <li class="common_sp_list_li">-->
<!--                        <div class="common_sp_thumb">-->
<!--                            <a th:href="@{'/recipe/recipeDetail/' + ${recipe.id}}" class="common_sp_link">-->
<!--                        <span class="common_vod_label">-->
<!--                            &lt;!&ndash;<img src="https://recipe1.ezmember.co.kr/img/icon_vod.png"> 동영상 링크가 있을때&ndash;&gt;-->
<!--                        </span>-->
<!--                                <img th:src="${recipe.imgUrl}">-->
<!--                            </a>-->
<!--                        </div>-->

<!--                        <div class="common_sp_caption">-->
<!--                            <span th:text="${recipe.id}"></span>-->

<!--                            <div class="common_sp_caption_tit line2" th:text="${recipe.title}">제목이 자동으로 나오게</div>-->
<!--                            <div class="common_sp_caption_rv_name" style="display: inline-block; vertical-align: bottom;">-->
<!--                                <a href="/profile/recipe.html?uid=plc0410">-->
<!--                                    <img src="https://recipe1.ezmember.co.kr/cache/rpf/2021/08/17/c2bf6753df6ec72baeebdb68cc8298531.db976a8912bda41df24720e5cc6912d0">-->
<!--                                    회원 아이디-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->
<!--&lt;!&ndash;            </th:block>&ndash;&gt;-->
<!--        </th:block>-->
    </ul>

    <script>

   // JavaScript에서 recipe 객체 사용
    var recipe = [[${recipe}]]; // recipe 객체를 가져와서 변수에 할당

    // recipe 객체의 속성 사용 예시
    var recipeId = recipe.id;
    var recipeTitle = recipe.title;

    // 결과 출력
    var recipeInfoElement = document.getElementById("recipeInfo");
    recipeInfoElement.innerHTML = "Recipe ID: " + recipeId + ", Recipe Title: " + recipeTitle;





<!--필터링 누른곳 활성화-->
       const cateLists = document.querySelectorAll('.cate_list');

        cateLists.forEach(cateList => {
            const links = cateList.querySelectorAll('a');
            links.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    links.forEach(link => link.classList.remove('active'));
                    link.classList.add('active');
                });
            });
        });

<!--필터링 관련-->

  var rctypeValue = '';
  var rcsituationValue = '';
  var rcingredientValue = '';
  var rcmeansValue = '';
  var myrecipecont = [];
  function goSearchRecipe2(category, value) {
    if (category === 'rctype') {
      rctypeValue = value;
    } else if (category === 'rcsituation') {
      rcsituationValue = value;
    }else if (category === 'rcingredient') {
      rcingredientValue = value;
    }else if (category === 'rcmeans') {
      rcmeansValue = value;
    }

    $.ajax({
      url: '/recipe/filtersearch',
      method: 'POST',
      data: { rctype: rctypeValue, rcsituation: rcsituationValue,
       rcingredient: rcingredientValue, rcmeans: rcmeansValue },
      success: function(response) {

   myrecipecont = response;
      myrecipecont.forEach(function(recipeId){
  });
<!--      console.log(myrecipecont);-->
<!--      console.log("myrecipecont");-->

      updateThymeleaf();
    },

    error: function(xhr, status, error) {
      console.error(error);
    }
  });
}

 var filt = [1];
    var filt2 = [1, 10, 19];
    var found = false;
    for (var i = 0; i < filt2.length; i++) {
    console.log("myrecipecont");
      console.log(myrecipecont);

        if (myrecipecont.includes(filt2[i])) {
            found = true;
            break;
        }
    }
    if (found) {
        document.getElementById("result").innerHTML = "1";
    }


function updateThymeleaf() {
  // 타임리프를 갱신하는 코드 작성
  // 예시: 해당 요소를 선택하여 내용을 변경하는 방법
<!--  $('#myThymeleafElement').text('Updated content');-->
<!--var blockElement = $('#abc');-->
<!--  blockElement.attr('th:if', '${myrecipecont.contains(recipe.id)}');-->
}

<!--function displayRecipeIds(recipeIds) {-->
<!--  var recipeIdsList = $('#recipeIdsList');-->
<!--var myRecipeId = recipeId;-->

<!--  // 기존에 출력된 아이템 제거-->
<!--  recipeIdsList.empty();-->

<!--  // recipeIds 값이 null인 경우-->
<!--  if (recipeIds === null) {-->
<!--    recipeIdsList.append('<li>NULL</li>');-->
<!--    return;-->
<!--  }-->

<!--  // recipeIds 값이 List 형식인 경우-->
<!--  recipeIds.forEach(function(recipeId) {-->
<!--    recipeIdsList.append('<li>' + recipeId + '</li>');-->
<!--  });-->

<!--}-->
    </script>


</div>


 javaScript 추가
<th:block layout:fragment="script">
    <script th:inline="javascript">
    var _IS_SEARCH_RESTRICT = false;
    $(document).ready( function() {
                ToggleCategory();
            });

    function goSearchRecipe(ca, val)
    {
        if (val == 'reco' && _IS_SEARCH_RESTRICT) {
            viewPremiumSearchModal();
        } else {
            $("#srRecipeFrm [name='"+ca+"']").val(val);
            $("[name='lastcate']").val(ca);
            $("#srRecipeFrm").submit();
        }
    }

    function doSetSearch(filters, val)
    {
        if(!filters || !val) return ;
        $("[id^=li_"+filters+"_]").removeClass("active");
        // cancel
        if($("#dsf_"+filters).val() == val)
        {
            $("#dsf_"+filters).val('');
        }
        else
        {
            $("#li_"+filters+"_"+val).addClass("active");
            $("#dsf_"+filters).val(val);
        }
    }

    function doDetailSearch()
    {
        $("[name=dsearch]").val("y");
        if($("#ni_resource").val()) $("[name=niresource]").val($("#ni_resource").val());
        $("#srRecipeFrm").submit();
    }

    function ToggleCategory()
    {
        $('#id_search_category').toggle();
        if ($('#id_search_category').is(":visible"))
        {
            $('#id_search_category_text').text('카테고리 닫기');
            $('#id_search_category_img').attr("src",'https://recipe1.ezmember.co.kr/img/icon_arrow9_up.gif');
        }
        else
        {
            $('#id_search_category_text').text('카테고리 열기');
            $('#id_search_category_img').attr("src",'https://recipe1.ezmember.co.kr/img/icon_arrow9_down.gif');
        }
    }




    </script>
</th:block>
