<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.addEventListener('popstate', function(event) {
        // 이전 페이지의 URL이 저장되어 있다면 해당 URL로 이동
        if (document.referrer !== '') {
            window.location.href = document.referrer;
        } else {
            // 이전 페이지의 URL이 없는 경우, 원하는 URL로 이동
            // 여기에 원하는 URL을 지정해주세요.
            window.location.href = history.back();
        }
    });
    </script>
</th:block>
<div layout:fragment="content">
  <div class="view" >
    <img id="main_thumbs"  th:src="@{'/recipeImg/'+${recipe.mainpicrename}}" th:alt="${recipe.title}">
    <h3 th:text="${recipe.title}">Recipe Title</h3>

    <h3>요리 정보</h3>
    <ul id="recipeInfo">
      <th:block th:each="nop : ${recipe.nop}">
        <li th:text="${nop}+인분"></li>
      </th:block>
      <th:block th:each="cooktime : ${recipe.cooktime}">
        <li th:text="${cooktime}+분"></li>
      </th:block>
    </ul>

    <h3>재료</h3>
    <ul>
      <th:block th:each="rm : ${rmList}">
        <li th:text="'재료:' + ${rm.ingredient} + ', 수량:' + ${rm.amount}"></li>
      </th:block>
    </ul>

    <h3>요리 순서</h3>
      <ul>
          <th:block th:each="rs : ${rsList}">
              <li th:text="'순서'+${rs.recipeorder}+': '+${rs.recipedescription}"></li>
              <div class="step-image" >
                  <th:block th:each="recipeImg : ${rs.recipepicrename}" >
                      <!--            <img th:src="@{'/images/item/' + ${recipeImg.imgUrl}}" th:alt="Step Image">-->
                      <!--<img th:src="@{'file:///c:/recipe/item/recipeImg/' + ${recipeImg}}" >-->
                      <img th:src="@{'/recipeImg/'+ ${recipeImg}}">

                  </th:block>
              </div>
          </th:block>
      </ul>


    <h3>태그</h3>
    <th:block th:each="recipe : ${recipe}">
      <p th:text="${recipe.tag}"></p>
    </th:block>

    <th:block th:each="recipe : ${recipe}">
    <div th:with="user=${#authentication.principal}">
        <div th:text="${user}"></div>
        <div th:text="${recipe}"></div>

        <a th:href="@{'/recipe/recipeModify/' + ${recipe.recipeno}}">
        <button type="submit" style="width: 55px; height: 30px; " th:text="수정" th:if="${user.usernickname.equals(recipe.writer)}">modify</button>
        </a>
    </div>
    </th:block>


  </div>
</div>

</html>

