<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script th:inline="javascript">

    <!--카테고리 선택-->
    function submitForm(field, value) {
      var form = document.createElement('form');
      form.action = '/recipe/sendData';
      form.method = 'post';

      var input = document.createElement('input');
      input.type = 'hidden';
      input.name = field;
      input.value = value;

      form.appendChild(input);
      document.body.appendChild(form);
      form.submit();

    }

    <!--카테고리 열고 닫기-->
    $(document).ready( function() {
        ToggleCategory();
    });

    function ToggleCategory() {
        $('#id_search_category').toggle();
        if ($('#id_search_category').is(":visible")) {
                $('#id_search_category_text').text('카테고리 닫기');
                $('#id_search_category_img').attr("src",'https://recipe1.ezmember.co.kr/img/icon_arrow9_up.gif');
        } else {
                $('#id_search_category_text').text('카테고리 열기');
                $('#id_search_category_img').attr("src",'https://recipe1.ezmember.co.kr/img/icon_arrow9_down.gif');
            }
    }

    function goSearchRecipeByDate() {
      submitForm('order', 'date');
    }

    function goSearchRecipeByViews() {
      submitForm('order', 'views');
    }

    </script>
</th:block>

<div layout:fragment="content">
    <div id="id_search_category" style="display:none" class="rcp_m_cate">
        <table width="100%" cellspacing="0" cellpadding="0">
            <colgroup>
                <col width="100px">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <th style="padding: 10px;">
                    <span>종류별</span>
                    <span>상황별</span>
                    <span>재료별</span>
                    <span>방법별</span>
                </th>
                <td>
                    <div class="rcp_cate st3">
                        <div class="cate_list">
                            <a href="#" onclick="submitForm('rctype', null) " class="active">전체</a>
                            <a href="#" onclick="submitForm('rctype', '63')">밑반찬</a>
                            <a href="#" onclick="submitForm('rctype', '56')">메인반찬</a>
                            <a href="#" onclick="submitForm('rctype', '54')">국/탕</a>
                            <a href="#" onclick="submitForm('rctype', '55')">찌개</a>
                            <a href="#" onclick="submitForm('rctype', '60')">디저트</a>
                            <a href="#" onclick="submitForm('rctype', '53')">면/만두</a>
                            <a href="#" onclick="submitForm('rctype', '52')">밥/죽/떡</a>
                            <a href="#" onclick="submitForm('rctype', '61')">퓨전</a>
                            <a href="#" onclick="submitForm('rctype', '57')">김치/젓갈/장류</a>
                            <a href="#" onclick="submitForm('rctype', '58')">양념/소스/잼</a>
                            <a href="#" onclick="submitForm('rctype', '65')">양식</a>
                            <a href="#" onclick="submitForm('rctype', '64')">샐러드</a>
                            <a href="#" onclick="submitForm('rctype', '68')">스프</a>
                            <a href="#" onclick="submitForm('rctype', '66')">빵</a>
                            <a href="#" onclick="submitForm('rctype', '69')">과자</a>
                            <a href="#" onclick="submitForm('rctype', '59')">차/음료/술</a>
                            <a href="#" onclick="submitForm('rctype', '62')">기타</a>
                        </div>
                        <div class="cate_list">
                            <a href="#" onclick="submitForm('rcsituation', null)" class="active">전체</a>
                            <a href="#" onclick="submitForm('rcsituation', '12')">일상</a>
                            <a href="#" onclick="submitForm('rcsituation', '18')">초스피드</a>
                            <a href="#" onclick="submitForm('rcsituation', '13')">손님접대</a>
                            <a href="#" onclick="submitForm('rcsituation', '19')">술안주</a>
                            <a href="#" onclick="submitForm('rcsituation', '21')">다이어트</a>
                            <a href="#" onclick="submitForm('rcsituation', '15')">도시락</a>
                            <a href="#" onclick="submitForm('rcsituation', '43')">영양식</a>
                            <a href="#" onclick="submitForm('rcsituation', '17')">간식</a>
                            <a href="#" onclick="submitForm('rcsituation', '45')">야식</a>
                            <a href="#" onclick="submitForm('rcsituation', '20')">푸드스타일링</a>
                            <a href="#" onclick="submitForm('rcsituation', '46')">해장</a>
                            <a href="#" onclick="submitForm('rcsituation', '44')">명절</a>
                            <a href="#" onclick="submitForm('rcsituation', '14')">이유식</a>
                            <a href="#" onclick="submitForm('rcsituation', '22')">기타</a>
                        </div>
                        <div class="cate_list">
                            <a href="#" onclick="submitForm('rcingredient',null)" class="active">전체</a>
                            <a href="#" onclick="submitForm('rcingredient','70')">소고기</a>
                            <a href="#" onclick="submitForm('rcingredient','71')">돼지고기</a>
                            <a href="#" onclick="submitForm('rcingredient','72')">닭고기</a>
                            <a href="#" onclick="submitForm('rcingredient','23')">육류</a>
                            <a href="#" onclick="submitForm('rcingredient','28')">채소류</a>
                            <a href="#" onclick="submitForm('rcingredient','24')">해물류</a>
                            <a href="#" onclick="submitForm('rcingredient','50')">달걀/유제품</a>
                            <a href="#" onclick="submitForm('rcingredient','33')">가공식품류</a>
                            <a href="#" onclick="submitForm('rcingredient','47')">쌀</a>
                            <a href="#" onclick="submitForm('rcingredient','32')">밀가루</a>
                            <a href="#" onclick="submitForm('rcingredient','25')">건어물류</a>
                            <a href="#" onclick="submitForm('rcingredient','31')">버섯류</a>
                            <a href="#" onclick="submitForm('rcingredient','48')">과일류</a>
                            <a href="#" onclick="submitForm('rcingredient','27')">콩/견과류</a>
                            <a href="#" onclick="submitForm('rcingredient','26')">곡류</a>
                            <a href="#" onclick="submitForm('rcingredient','34')">기타</a>
                        </div>
                        <div class="cate_list">
                            <a href="#" onclick="submitForm('rcmeans',null)" class="active">전체</a>
                            <a href="#" onclick="submitForm('rcmeans','6')">볶음</a>
                            <a href="#" onclick="submitForm('rcmeans','1')">끓이기</a>
                            <a href="#" onclick="submitForm('rcmeans','7')">부침</a>
                            <a href="#" onclick="submitForm('rcmeans','36')">조림</a>
                            <a href="#" onclick="submitForm('rcmeans','41')">무침</a>
                            <a href="#" onclick="submitForm('rcmeans','42')">비빔</a>
                            <a href="#" onclick="submitForm('rcmeans','8')">찜</a>
                            <a href="#" onclick="submitForm('rcmeans','10')">절임</a>
                            <a href="#" onclick="submitForm('rcmeans','9')">튀김</a>
                            <a href="#" onclick="submitForm('rcmeans','38')">삶기</a>
                            <a href="#" onclick="submitForm('rcmeans','67')">굽기</a>
                            <a href="#" onclick="submitForm('rcmeans','39')">데치기</a>
                            <a href="#" onclick="submitForm('rcmeans','37')">회</a>
                            <a href="#" onclick="submitForm('rcmeans','11')">기타</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="rcp_cate_btn"><a href="javascript:ToggleCategory()"><span
            id="id_search_category_text">카테고리 열기</span><span><img id="id_search_category_img"
                                                                  src="https://recipe1.ezmember.co.kr/img/icon_arrow9_down.gif"></span></a>
    </div>


    <ul class="rcp_m_list2">
        <th:block th:if="${recipe != null}">
            <div class="m_list_tit">
                총 <b th:text="${recipeCount}" >0</b>개의 맛있는 레시피가 있습니다.
                <ul class="nav nav-tabs2 pull-right" style="position:relative;">
<!--                    <li><a th:href="@{/recipe/recipeList?sort=latest">조회순</a></li>
                    <li><a th:href="@{/recipe/recipeList?sort=views">최신순</a></li>
                    <li><a href="#">추천순</a></li>-->
                    <li><a href="#">조회순</a></li>
                    <li><a href="#">최신순</a></li>
                    <li><a href="#">추천순</a></li>
                </ul>
            </div>


            <th:block th:each="recipe : ${recipe}" th:if="${recipe.recipestatus == 'Y'}" >
                <ul class="common_sp_list_ul ea4" style="padding:0 0 0 8px;">
                    <li class="common_sp_list_li" >
                        <div class="common_sp_thumb">
                            <a th:href="@{'/recipe/recipeDetail/' + ${recipe.recipeno}}" class="common_sp_link">
                                <!-- <a th:href="@{'/recipe/recipeDetail/' + ${recipe.recipeno}}" class="common_sp_link"></a> -->
                                <span class="common_vod_label">
                            <!--<img src="https://recipe1.ezmember.co.kr/img/icon_vod.png"> 동영상 링크가 있을때-->
                        </span>
                                <img th:src="'/recipeImg/' + ${recipe.mainpicrename}">

                                <!-- <img th:src="${recipe.mainPicRename}"> -->
                            </a>
                        </div>

                        <div class="common_sp_caption">
                            <div class="common_sp_caption_tit line2" th:text="${recipe.title}">제목</div>
                            <div class="common_sp_caption_tit line2" th:text="${recipe.tag}">태그</div>
                            <div class="common_sp_caption_rv_name" style="display: inline-block; vertical-align: bottom;">
                                <a href="/profile/recipe.html?uid=plc0410">
                                    <!--<img src="../img/food.jpg">-->
                                    <div class="common_sp_caption_tit line2" th:text="${recipe.writer}">작성자</div>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </th:block>
        </th:block>
        <!-- 페이징 처리 -->
        <div class="pagination">
            <ul>
                <li th:if="${currentPage > 1}">
                    <a th:href="@{/recipe/recipeList(currentPage=${currentPage - 1})}">이전</a>
                </li>
                <li th:each="page : ${#numbers.sequence(1, totalPage)}" th:class="${page == currentPage ? 'active' : ''}">
                    <a th:href="@{/recipe/recipeList(currentPage=${page})}" th:text="${page}"></a>
                </li>
                <li th:if="${currentPage < totalPage}">
                    <a th:href="@{/recipe/recipeList(currentPage=${currentPage + 1})}">다음</a>
                </li>
            </ul>
        </div>
    </ul>
</div>
</html>




