<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
	<div class="container">
		<p class="h1">레시피 등록</p><br />
		<!-- <input type="hidden" th:field="*{id}"> -->
		<div id="rc_thumbnail" class="rc_thumbnail">
	        <input type="hidden" name="main_photo" id="main_photo" value="">
	        <input type="hidden" name="new_main_photo" id="new_main_photo" value="">
			<input type="hidden" name="del_main_photo" id="del_main_photo" value="">
	        <div style="position:absolute;left:-3000px"><input type="file" name="q_main_file" id="q_main_file" file_gubun="main" accept="jpeg,png,gif" style="display:;width:0px;height:0px;font-size:0px;" text=""></div>
	        <div id="divMainPhotoBox" is_over="0">
	            <img id="mainPhotoHolder" onclick="browseMainFile()" src="https://recipe1.ezmember.co.kr/img/pic_none4.gif" style="width: 250px; height: 250px; cursor:pointer">
	        </div>
      	</div>
		<div class="input-group">
			<p class="h3 subheading">레시피 제목&nbsp;&nbsp;&nbsp;</p>
			<input type="text" name="rc_title" placeholder="예) 미역국 끓이기" style="width:610px;"><br />
		</div>
		<div class="input-group">
			<p class="h3 subheading">요리 소개&nbsp;&nbsp;&nbsp;</p>
			<textarea name="cok_intro" id="cok_intro" class="form-control step_cont" placeholder="이 레시피의 탄생배경을 적어주세요." style="height:100px; width:610px; resize:none;"></textarea><br />
		</div>
		<div class="input-group">
			<p class="h3 subheading">카테고리</p>
			<select name="rc_ctype" id="rc_ctype" text="종류별">
				<option value="" >종류별</option>
				<option value="56">메인반찬</option>
				<option value="54">국/탕</option>
				<option value="55">찌개</option>
				<option value="60">디저트</option>
				<option value="53">면/만두</option>
				<option value="52">밥/죽/떡</option>
				<option value="61">퓨전</option>
				<option value="57">김치/젓갈/장류</option>
				<option value="58">양념/소스/잼</option>
				<option value="65">양식</option>
				<option value="64">샐러드</option>
				<option value="68">스프</option>
				<option value="66">빵</option>
				<option value="69">과자</option>
				<option value="59">차/음료/술</option>
				<option value="62">기타</option>
				<option value="63">밑반찬</option>
			</select>
	        <select name="rc_csituation" id="rc_csituation" text="상황별">
				<option value="" >상황별</option><option value="12">일상</option>
				<option value="18">초스피드</option>
				<option value="13">손님접대</option>
				<option value="19">술안주</option>
				<option value="21">다이어트</option>
				<option value="15">도시락</option>
				<option value="43">영양식</option>
				<option value="17">간식</option>
				<option value="45">야식</option>
				<option value="20">푸드스타일링</option>
				<option value="46">해장</option>
				<option value="44">명절</option>
				<option value="14">이유식</option>
				<option value="22">기타</option>
			</select>
        	<select name="rc_cmeans" id="rc_cmeans" text="방법별">
				<option value="" >방법별</option><option value="6">볶음</option>
				<option value="1">끓이기</option>
				<option value="7">부침</option>
				<option value="36">조림</option>
				<option value="41">무침</option>
				<option value="42">비빔</option>
				<option value="8">찜</option>
				<option value="10">절임</option>
				<option value="9">튀김</option>
				<option value="38">삶기</option>
				<option value="67">굽기</option>
				<option value="39">데치기</option>
				<option value="37">회</option>
				<option value="11">기타</option>
			</select>
        	<select name="rc_cingredient" id="rc_cingredient"  text="재료별">
				<option value="" >재료별</option><option value="70">소고기</option>
				<option value="71">돼지고기</option>
				<option value="72">닭고기</option>
				<option value="23">육류</option>
				<option value="28">채소류</option>
				<option value="24">해물류</option>
				<option value="50">달걀/유제품</option>
				<option value="33">가공식품류</option>
				<option value="47">쌀</option>
				<option value="32">밀가루</option>
				<option value="25">건어물류</option>
				<option value="31">버섯류</option>
				<option value="48">과일류</option>
				<option value="27">콩/견과류</option>
				<option value="26">곡류</option>
				<option value="34">기타</option>
			</select>
		</div><!-- 카테고리 END  -->
		<span class="guide" style="margin:-22px 0 0 146px;">분류를 바르게 설정해주시면, 이용자들이 쉽게 레시피를 검색할 수 있어요.</span>
		<div class="input-group">
			<p class="h3 subheading">요리정보</p>
      		인원
        	<select name="rc_nop" id="rc_nop"  text="인원">
				<option value="" >인원</option><option value="1">1인분</option>
				<option value="2">2인분</option>
				<option value="3">3인분</option>
				<option value="4">4인분</option>
				<option value="5">5인분</option>
				<option value="6">6인분이상</option>
			</select>
      		<span class="pad">시간 </span>
        	<select name="rc_cooktime" id="rc_cooktime"  text="요리시간">
				<option value="" >시간</option><option value="5">5분이내</option>
				<option value="10">10분이내</option>
				<option value="15">15분이내</option>
				<option value="20">20분이내</option>
				<option value="30">30분이내</option>
				<option value="60">60분이내</option>
				<option value="90">90분이내</option>
				<option value="120">2시간이내</option>
				<option value="999">2시간이상</option>
			</select>
        </div> <!-- 요리정보 END -->
	</div> <!-- container END -->
	<div class="cont_box pad_l_60">
        <span class="guide mag_b_15" style="width:100%;">재료가 남거나 부족하지 않도록 정확한 계량정보를 적어주세요.</span>
		<div class="mag_b_25" id="divMaterialGroupArea"></div>

        <div class="noti">※ 양념, 양념장, 소스, 드레싱, 토핑, 시럽, 육수 밑간 등으로 구분해서 작성해주세요.
            <div class="noti_btn">
            	<button type="button" onclick="addMaterialGroup('',[],null,'1')" class="btn-lg btn-default">
            	<span class="glyphicon glyphicon-plus"></span> 
            	재료/양념 묶음 추가</button>
			</div>
        </div>
    </div>
    <div class="regi_btm">
	    <button type="button" onclick="doSubmit('save')" class="btn-lg btn-primary">저장</button>
		<button type="button" onclick="history.back();" class="btn-lg btn-default">취소</button>
	</div>
</div> <!-- content END -->
</html>