<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
      #carousel-banner {
	    width: 1600px;
	  }
    </style>
</th:block>

<div layout:fragment="content">

  <div class="slideshow">
	<div class="slideshow-slides">
		<a th:href="@{'/recipe/recipeDetail/' + 1}" class="slide" id="slide1">
		<img src="./img/slide1.jpg" alt="" width="1600" height="465">
			<div class="text">
				<h3>치즈 쭉쭉 피자</h3>
				<div class="tag"><span>#피자</span><span>#치즈</span></div>
				<button class="btn btn-red mainbtn" href="#">레시피보러가기</button>
			</div>
		</a>
		<a th:href="@{'/recipe/recipeDetail/' + 2}" class="slide" id="slide2">
		<img src="./img/slide2.jpg" alt="" width="1600" height="465">
			<div class="text">
				<h3>부타동</h3>
				<div class="tag"><span>#일식</span><span>#부타동</span></div>
				<button class="btn btn-red mainbtn" href="#">레시피보러가기</button>
			</div>
		</a>
		<a th:href="@{'/recipe/recipeDetail/' + 3}" class="slide" id="slide3">
		<img src="./img/slide3.jpg" alt="" width="1600" height="465">
			<div class="text">
				<h3>짜장면</h3>
				<div class="tag"><span>#중식</span><span>#짜장면</span></div>
				<button class="btn btn-red mainbtn" href="#">레시피보러가기</button>
			</div>
		</a>
		<a th:href="@{'/recipe/recipeDetail/' + 4}" class="slide" id="slide4">
		<img src="./img/slide4.jpg" alt="" width="1600" height="465">
			<div class="text">
				<h3>비빔밥</h3>
				<div class="tag"><span>#한식</span><span>#뚝배기</span><span>#비빔밥</span></div>
				<button class="btn btn-red mainbtn" href="#">레시피보러가기</button>
			</div>
		</a>
	</div>
	<div class="slideshow-nav">
        <a href="#" class="prev">Prev</a>
        <a href="#" class="next">Next</a>
    </div>
    <div class="slideshow-indicator"></div>
  </div>

</div>