<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recipeone.repository.RecipeStore">

	<resultMap id="memberResultMap" type="com.recipeone.entity.Member">
		<id property="mid" column="mid" />
		<result property="password" column="password" />
		<result property="useremail" column="useremail" />
		<result property="usernickname" column="usernickname" />
		<result property="loginFailCount" column="loginFailCount" />
		<result property="userfullname" column="userfullname" />
		<result property="userphone" column="userphone" />
		<result property="useraddr" column="useraddr" />
		<result property="social" column="social" />
		<result property="userlev" column="userlev" />
	</resultMap>

	<select id="selectOneByEmail" resultMap="memberResultMap">
		SELECT * FROM MEMBER
		WHERE USEREMAIL = #{useremail}
	</select>


	<resultMap type="com.recipeone.entity.Recipe" id="recipeResultMap">
		<id property="recipeno" column="RECIPENO"/>
		<result property="title" column="TITLE"/>
		<result property="cooktime" column="COOKTIME"/>
		<result property="nop" column="NOP"/>
		<result property="mainpic" column="MAINPIC"/>
		<result property="mainpicrename" column="MAINPICRENAME"/>
		<result property="tag" column="TAG"/>
		<result property="rctype" column="RCTYPE"/>
		<result property="rcsituation" column="RCSITUATION"/>
		<result property="rcingredient" column="RCINGREDIENT"/>
		<result property="rcmeans" column="RCMEANS"/>
		<result property="insertdate" column="INSERTDATE"/>
		<result property="updatedate" column="UPDATEDATE"/>
		<result property="rccount" column="RCCOUNT"/>
		<result property="recipestatus" column="RECIPESTATUS"/>
		<result property="writer" column="WRITER"/>
	</resultMap>

	<select id="selectRecipeNumber" resultMap="recipeResultMap">
		select * from recipe where USEREMAIL = #{useremail} order by UPDATE_DATE DESC
	</select>



	<resultMap type="com.recipeone.entity.RecipeIngredient" id="RecipeIngredientResultMap">
		<id property="recipeno"				column="RECIPENO" />
		<result property="ingredientorder" 	column="INGREDIENTORDER" />
		<result property="ingredient" 		column="INGREDIENT" />
		<result property="amount" 			column="AMOUNT" />
	</resultMap>



	<resultMap type="com.recipeone.entity.RecipeStep" id="RecipeStepResultMap">
		<id property="recipeno" 				column="RECIPENO" />
		<result property="recipeorder" 			column="RECIPEORDER" />
		<result property="recipedescription"	column="RECIPEDESCRIPTION" />
		<result property="recipepic" 			column="RECIPEPIC" />
		<result property="recipepicrename"		column="RECIPEPICRENAME" />
	</resultMap>



</mapper>