<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="header">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

			<a href="/" class="navbar-brand">RECIPE</a>
			<form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                <input type="search" name="searchQuery" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	            	<li class="nav-item" sec:authorize="isAuthenticated()">
	            		<a href="#" class="nav-link">카테고리</a>
	            	</li>
	            	<li class="nav-item" sec:authorize="isAuthenticated()">
	            		<a href="#" class="nav-link">최근 본 레시피</a>
	            	</li>
	            	<li class="nav-item" sec:authorize="isAuthenticated()">
	            		<a href="#" class="nav-link">이벤트</a>
	            	</li>
	            	<li class="nav-item" sec:authorize="isAuthenticated()">
	            		<a href="#" class="nav-link">문의사항</a>
	            	</li>
	            </ul>
	        </div>
        </nav>
    </div>
</html>
