<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">

  <!-- First Line -->
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="/">Recipeone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
      <ul class="navbar-nav">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
            <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 300px;">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </li>
        <li class="nav-item ml-3"
            th:unless="${#request.isUserInRole('ROLE_USER')|| #request.isUserInRole('ROLE_ADMIN')|| #request.isUserInRole('ROLE_STOP')|| #request.isUserInRole('ROLE_CHEF')}">
          <a class="nav-link" th:href="@{/member/join}">회원가입</a>
        </li>
        <li class="nav-item"
            th:unless="${#request.isUserInRole('ROLE_USER')|| #request.isUserInRole('ROLE_ADMIN')|| #request.isUserInRole('ROLE_STOP')|| #request.isUserInRole('ROLE_CHEF')}">
          <a class="nav-link" th:href="@{/member/login}">로그인</a>
        </li>
        <li class="nav-item"
            th:if="${#request.isUserInRole('ROLE_USER')|| #request.isUserInRole('ROLE_ADMIN')|| #request.isUserInRole('ROLE_STOP')|| #request.isUserInRole('ROLE_CHEF')}">
          <a class="nav-link" th:href="@{/logout}">로그아웃</a>
        </li>
        <li class="nav-item"
            th:if="${#request.isUserInRole('ROLE_USER')|| #request.isUserInRole('ROLE_ADMIN')|| #request.isUserInRole('ROLE_STOP')|| #request.isUserInRole('ROLE_CHEF')}">
          <a class="nav-link" href="/member/mypage">마이페이지</a>
        </li>
        <li class="nav-item"
            th:if="${#request.isUserInRole('ROLE_ADMIN')}">
          <a class="nav-link" href="/member/admin">관리자페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipe/register">레시피 등록</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Second Line -->
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav w-100 d-flex justify-content-around">
      <li class="nav-item">
        <a class="nav-link" href="/cart">레시피 목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders">최근본 레시피</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">공지사항</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">이벤트</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">문의하기</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/items">관리자 페이지</a>
      </li>
    </ul>
  </nav>
</div>
</html>